@model miPrimerMVCC.Models.Datos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRowCreatedat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRowCreatedat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRowUdDated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRowUdDated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
