@model IEnumerable<miPrimerMVCC.Models.personas> 

@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <h3>CRUD</h3>
    
    <div class="container">
        <button class="btn btn-primary">Nuevo Registro</button>
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidop)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.edad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sexo)
                </th>
                <th>
                    ACTION
                </th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => p.nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.apellidop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.apellidom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.edad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => p.sexo)
                    </td>
                    <td>
                        <button class="btn btn-success">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>

            }
        </table>

    </div>
</div>