@model List<Web100.Models.ViewModel.ListaPersona>

@{
    ViewBag.Title = "Personas";
}

<script>

    function Eliminar(Id)
    {
        fetch("@Url.Content("~/Home/Eliminar")",
            {
                                                    method: "POST",
                                                    body: JSON.stringify({Id: Id}),
                                                    headers: {
                                                                'Accept': "application/json",
                                                                "Content-Type": "application/json"
                                                             }
            }).then(function (response)
            {
                if (response.ok)
                    return response.text(),
                    window.location.href = window.location.href
                else
                    alert("Error")
            })
    }

</script>

    <div class="jumbotron">
      <h1>Personas</h1>
        <p class="lead"></p>
    </div>  

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <table class="table table-responsive table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Estatus</th>
                        <th>Editar / Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var dato in Model)
                    {
                        <tr>
                            <td>@dato.Id</td>
                            <td>@dato.Nombre</td>
                            <td>@dato.ApellidoPaterno</td>
                            <td>@dato.ApellidoMaterno</td>
                            <td>
                                @if (dato.Estatus == true)
                                {
                                    <p>Activo</p>
                                }
                                else
                                {
                                    <p>Inactivo</p>
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Editar" , "Home", new { id = @dato.Id })'">Editar</button>
                                <button type="button" class="btn btn-danger" onclick="Eliminar(@dato.Id)">Eliminar</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

            <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Registro", "Home")'">Nuevo</button>

        </div>
    </div>

