@model IEnumerable<miPrimerMVCC.Models.PersonalEntities> 

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="form-control">
        <h3>CRUD</h3>
        <button class="btn btn-primary">Nuevo Registro</button>
        <table>
            <thead>
                @Html.DisplayNameFor(model => model.nombres);
            </thead>
            <thead>
                @Html.DisplayNameFor(model => model.apellidop);
            </thead>
            <thead>
                @Html.DisplayNameFor(model => model.apellidom);
            </thead>
            <thead>
                @Html.DisplayNameFor(model => model.edad);
            </thead>
            <thead>
                @Html.DisplayNameFor(model => model.sexo);
            </thead>
            <thead>
                Action
            </thead>
            
        </table>
        
    </div>
</div>