@model IEnumerable<miPrimerMVCC.Models.personas>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h3>Resgistro de personas</h3>
    
    <div class="container">
        <button id="registrar-persona" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="showhideBtn()">Nuevo Registro</button>
        <div class="table" id="gridContainer">

        </div>
        <table class="table table-bordered" id="tblPersons">
            <tr>
            </tr>

        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id='myModal' class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" onclick="clearData()">×</button>
                        <h4 class="modal-title">Registro de nueva persona</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="ID" disabled="disabled" id="idp" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre" id="nombre" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellido Paterno" id="apellidoP" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Apellido Materno" id="apellidoM" />
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Edad" id="edad" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="sexo">
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" id="btnSave">Guardar</button>

                            <button class="btn btn-default" id="btnUpdate" onclick="Update()">Editar</button>
                            <button class="btn btn-danger" id="cancel" data-dismiss="modal" onclick="clearData()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    function showhideBtn() {
        $('#btnUpdate').hide();
        $('#btnSave').show();
    }
    function clearData() {
        $('#id').val("");
        $('#nombre').val("");
        $('#apellidoP').val("");
        $('#apellidoM').val("");
        $('#edad').val("");
    }
    function validate() {
        var isValid = true;
        if ($('#nombre').val().trim() == "") {
            $('#nombre').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#nombre').css('border-color', 'lightgrey');
        }
        if ($('#apellidoP').val().trim() == "") {
            $('#apellidoP').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#apellidoP').css('border-color', 'lightgrey');
        }
        if ($('#apellidoM').val().trim() == "") {
            $('#apellidoM').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#apellidoM').css('border-color', 'lightgrey');
        }
        if ($('#edad').val().trim() == "") {
            $('#edad').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#edad').css('border-color', 'lightgrey');
        }
        if ($('#sexo').val().trim() == "") {
            $('#sexo').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#sexo').css('border-color', 'lightgrey');
        }
        return isValid;
    }
    function LoadData() {
        $(function () {
            $("#gridContainer").dxDataGrid({
                dataSource: "/Home/getPersons",
                paging: {
                    pageSize: 5
                },
                columns: [
                    "id",
                    "nombres",
                    {
                        dataField: "apellidop",
                        caption: "Apellido Paterno"
                    },
                    {
                        dataField: "apellidom",
                        caption: "Apellido Materno"
                    },
                    "edad", "sexo"
                ],
                showBorders: true
            });
        });               
    }
    function getbyID(ID) {
        $('#nombre').css('border-color', 'lightgrey');
        $('#apellidoP').css('border-color', 'lightgrey');
        $('#apellidoM').css('border-color', 'lightgrey');
        $('#edad').css('border-color', 'lightgrey');
        $.ajax({
            url: '@Url.Action("getID","Home")' + "/" + ID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#idp').val(result.id);
                $('#nombre').val(result.nombres);
                $('#apellidoP').val(result.apellidop);
                $('#apellidoM').val(result.apellidom);
                $('#edad').val(result.edad);
                $('#sexo').val(result.sexo);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnSave').hide();

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
    function Delete(id) {
        var ans = confirm("¿ Seguro que desea eliminar el registro?");
        if (ans) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("deletePerson","Home")' + "/" + id,
                dataType: "json",
                contentType: "applicaton/json; charset=utf-8",
                success: function () {
                    DevExpress.ui.notify("Item deleted","success")
                    LoadData();
                },
                error: function () {
                    DevExpress.ui.notify("Error","error");
                }
            });
        }

    }
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var IDP = $('#idp').val();
        var per = {};
        per.nombres = $("#nombre").val();
        per.apellidop = $("#apellidoP").val();
        per.apellidom = $("#apellidoM").val();
        per.edad = $("#edad").val();
        per.sexo = $("#sexo").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("updatePerson","Home")' + "/" + IDP,
            dataType: 'json',
            contentType: "application/json; charset=utf8",
            data: JSON.stringify(per),
            success: function () {
                clearData();
                LoadData();
                DevExpress.ui.notify("User updated", "success");
            },
            error: function () {
                DevExpress.ui.notify("Error", "error");
            }
        })
    }

        $(function () {
            LoadData();

            $("#btnSave").click(function () {
                var res = validate();
                if (res == false) {
                    return false;
                }
            var std = {};
            std.nombres = $("#nombre").val();
            std.apellidop = $("#apellidoP").val();
            std.apellidom = $("#apellidoM").val();
            std.edad = $("#edad").val();
            std.sexo = $("#sexo").val();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("createPerson")',
                    dataType: "json",
                    data:  JSON.stringify(std),
                    contentType: "application/json;",
                    success: function () {
                        DevExpress.ui.notify("User has been added succesfully", "success");
                        LoadData();
                        $('#myModal').modal('hide');
                        clearData();
                },
                    error: function () {
                        DevExpress.ui.notify("Error while inserting data","error");
                    LoadData();
                }
            });

            return false;
            });
    });
</script>
}


