@model Web100.Models.ViewModel.RegistroPersona
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        ObtienePersonas();
    });

    function ObtienePersonas() {
                $.ajax({
                    url: "/Personas/ListaPersonas",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var html = '';
                        $.each(result, function (key, item) {
                            html += '<tr>';
                            html += '<td>' + item.Id + '</td>';
                            html += '<td>' + item.Nombre + '</td>';
                            html += '<td>' + item.ApellidoPaterno + '</td>';
                            html += '<td>' + item.ApellidoMaterno + '</td>';
                            html += '<td>' + item.Estatus + '</td>';
                            html += '<td><a href="#" onclick="return getbyID(' + item.Id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.Id + ')">Delete</a></td>';
                            html += '</tr>';
                        });
                        $('.tbody').html(html);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }

</script>

<div class="container">

    <h2>Personas</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Agregar</button><br /><br />

    <table class="table table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>No</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Estatus</th>
                <th>Editar / Eliminar</th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dissmiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar Persona</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-horizontal">
                        <h4>Persona</h4>
                        <hr />

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", id = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.ApellidoPaterno, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control", id = "ApellidoPaterno" } })
                                @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.ApellidoMaterno, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control", id = "ApellidoMaterno" } })
                                @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-10">
                                <div class="custom-control custom-checkbox">

                                    @Html.CheckBoxFor(model => model.Estatus, htmlAttributes: new { @class = "custom-control-input", id = "Estatus", onclick = "Check()", Checked = true })

                                    @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Agregar" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

